.custom-padding{
    padding:100px 0;
}
.mry-main-title .mry-text{
    font-size: 16px;
    padding-right: 15px;
}
.custom-padding .mry-main-title h1{
    font-size: 36px;
    line-height: 43px;
}
.custom-padding .content{
    padding-top: 30px;
    line-height: 1.8;
}
#home-about{
    background-size: cover;
    background-position: bottom center;
}
.top-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.top-flex ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap:30px;
    list-style: none;
    padding: 0 30px 0 15px;
    margin: 0;
}
.choose-us{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.choose-us .why-box{
    padding: 15px;
    background-color: #373e49;
    backdrop-filter: blur(20px);
    height: 100%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top-flex a:hover{
    color: #e0c977;
}
.title-breaker{
    width: 50%;
    margin:0 auto;
    position: relative;
}
.title-breaker:before{
    content:'';
    position: absolute;
    top:53%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.00001);
    z-index: 0;
    width: 75%;
    height: 1px;
    background-color: #e0c977;
    z-index: 0;
}
.title-breaker:after{
    content:'';
    position: absolute;
    top:46%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1.00001);
    z-index: 0;
    width: 75%;
    height: 1px;
    background-color: #e0c977;
    z-index: 0;
}
.title-breaker span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: #373e49;
    padding: 5px;
}
.title-breaker span img{
    height: 36px;
    
}
.why-box img{
    filter: invert(1);
}

.card{
    background-color:#333942;
}
.card{
    color:#f5f5f5;
}
.card p strong{
    font-weight:600;
}
.card .option-list{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:5px;
    width: 100%;
    flex-wrap: wrap;
}
.card .option-list .option-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    width: calc(20% - 20px);
}
.card .option-list .half-width{
    width: calc(50% - 20px);
}
.card .option-list .option-list-item img{
    height: 48px;
}
.card .option-list .option-list-item label{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding:8px 15px;
    background-color: #373e49;
    border-radius: 8px;
    border: 2px solid transparent;
    width: 100%;
    transition: all 0.35s ease-in-out;
}
.card .option-list .option-list-item label:hover{
    background-color: #292e35;
    cursor: pointer;
}
.card .option-list .option-list-item label:has(input[type="radio"]:checked) {
    border-color: #e0c977; /* Change the border color of li when radio is checked */
    background-color: #292e35;
}
.service-content{
    text-align: justify;
    font-size: 16px;
    color:#f5f5f5;
}
.mry-btn.custom-button {
    border-color: #e0c977;
    background-color: #e0c977;
    color:#333942;
}
.mry-btn.custom-button:hover {
    border-color: #292e35;
    background-color: #292e35;
    color:#e0c977;
}
@media (min-width:576px){
    .container,.container-sm{
        max-width:540px
    }
}
@media (min-width:768px){
    .container,.container-md,.container-sm{
        max-width:720px
    }
}
@media (min-width:992px){
    .container,.container-lg,.container-md,.container-sm{
        max-width:960px
    }
}
@media (min-width:1200px){
    .container,.container-lg,.container-md,.container-sm,.container-xl{
        max-width:1140px
    }
}
@media (min-width:1400px){
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
        max-width:1320px
    }
}

@media only screen and (max-width:600px){
    .top-flex ul{
        display: none;
    }
    .why-box{
        margin-bottom:20px;
    }
   
    .mry-project-slider-item .mry-project-frame.mry-project-half .mry-cover-frame{
        height: auto;
        margin-top: 100px;
    }
    .mry-project-slider-item .mry-project-frame .mry-cover-frame .mry-project-cover{
        position: static;
    }
    .w-50{
        width: 100% !important;
    }
    .mry-app .mry-top-panel{
        background-color:#373e49;
    }
    .mry-project-slider-item .mry-main-title-frame{
        height: auto;
        text-align: center;
    }
    .mry-project-slider-item .mry-project-frame.mry-project-half .mry-cover-frame{
        float: none;
    }
    .mry-project-slider-item .mry-project-frame .mry-main-title-frame .mry-main-title{
        margin-left: 0;
    }
    .mry-project-slider-item{
        height: 650px;
    }
    .mry-slider-arrows{
        justify-content: center;
        left: 0;
    }
    .mry-slider-arrows{
        top:20px;
    }
    .mry-subtitle{
        padding-left: 0;
    }
    .custom-padding {
        padding: 30px 0;
    }
    .custom-padding .mry-main-title h1{
        font-size: 28px;
    }
    .custom-padding .content{
        text-align: justify;
        text-align-last: center;
        padding: 0 10px;
    }
    .mry-card-item{
        text-align: center;
    }
    #get-quote{
        text-align: center;
    }
    #get-quote p{
        text-align: justify;
        text-align-last: center;
    }
    .mry-main-title .mry-text{
        font-size: 14px;
        line-height:23px;
    }
    .mry-btn, .mry-btn-text{
        margin-right: 0;
    }
    .mry-magnetic-link{
        height: 60px;
    }
    .mry-banner h1{
        font-size: 24px;
        line-height: 1.25;
    }
    .card .option-list .option-list-item{
        width: calc(50% - 5px);
    }
    .card .option-list .option-list-item label{
        font-size: 12px;
        font-weight: 400;
    }
    .card .option-list .half-width {
        width:100%;
    }
    .mry-magic-cursor{
        display: none !important;
    }
}
